
* {
    margin: 0;  
    padding: 0;  
    border: 0;  
    font-size: 100%;  
    font: inherit;  
    vertical-align: baseline; 
 }

html { font-size: 1rem; }

html, body {
     width: 100%;
     height: 100%;
     margin: 0;
 }
body {
    background: black !important;
}

h1, h2, h3, h4, h5, h6, .nav-item, a {
    font-family: 'Open Sans', sans-serif;
}

.nav-item:hover {
    background-color: #834C69;
}

.fa {
    color: white !important;
    text-decoration: none !important;
}

h1, h2, h3, h4, h5, h6, p, li {
    color: #fff; 
}


p, .content-text {
    font-family: 'Roboto', sans-serif;
}

