* {
    box-sizing: border-box;
}

/*
New
*/
#me {
    display: block;
    margin-left: auto;
    margin-right: auto;
    border-radius: 50%;
    height: 300px;
    width: 300px;
}

h1, h2, h3, h4, h5, h6 {
	font-family: "Titillium Web", sans-serif, Tahoma;
	color: #0080ab;
    font-weight: bold;
}

p {
	font-family: "Open Sans", sans-serif, Tahoma;
	color: #505050;
    font-size: 22px;
}


a {
    font-size: 22px;
}

#nav {
    position: fixed;
    width: 100%;
    z-index: 100;
    
}

.nav-items{
    font-size: 22px;
    padding: 6px 8px 6px 16px;
}

html, body {
    height: 100%;
}

#home, #about-me, #contact, #experience {
    padding-top: 90px;
    height: 100%;
}

#home {
    position: relative;
    top: 50%;
    transform: translateY(-50%);
}

#home:before{
    content: ' ';
    display: block;
    position: absolute;
    left: 0;
    top: 0;
    width: 100%;
    height: 100%;
    z-index: -1;
    opacity: 0.80;
    background-image: url('oakland.jpg');
    background-repeat: no-repeat;
    background-position: 50% 0;
    background-size: cover;
}

.tagline {
    padding-top: 10px;
    text-align: center;
    color: #f9f9f9;
}

.intro {
    padding-top: 30px;
    text-align: center;
    color: #fff;
    font-size: 45px;
    line-height: 40px;
}

#about-me {
    background: #659dbd;
    clear: both;

}

#about-josh {
    float: left;
    height: 300px;
    width: 300px;
    margin: 0 20px 20px 20px;

    border-radius: 50%;
}

.bio {
    float: right;
    clear: right;
}

.picture {
    overflow: hidden;
    border: 3px double midnightblue;
}


#experience {
    background: #daad86;
}

#contact {
    background: #bc986a;
}

#email-form {
	font-family: "Titillium Web", sans-serif, Tahoma;
	color: #f9f9f9;;
    font-weight: bold;
}

input, textarea, button {
    display: block;
    padding: 20px;
    align-items: center;
}

input {
    height: 20px;
    width: 80%;
}

textarea {
    height: 300px;
    width: 80%;
}

/*
#contact-form {
    padding-left: 100px;
}
*/ 


.style {
	font-family: "Titillium Web", sans-serif, Tahoma;
	color: #0080ab;
    font-weight: bold;
}

.underline {
    text-decoration: underline;
}

#name {
    font-family: "Titillium Web", sans-serif, Tahoma;
	color: #fff;
    font-weight: bold;
    margin-left: 50px;
}

Media Queries 


@media (min-width: 600px) {
    
    #me {
    display: block;
    margin-left: auto;
    margin-right: auto;
    border-radius: 50%;
    height: 150px;
    width: 150px;
    }
    
    html, body {
        height: 50%;
    }
    
    #nav {
        position: fixed;
        width: 100%;
        z-index: 100;
    
    }

    
    .nav-items {
        font-size: 10px;
        padding: 3px 4px 3px 8px;
    }


    #home, #about-me, #contact, #experience {
        padding-top: 30px;
        height: 50%;
    }
    
    #home:before{
        content: ' ';
        display: block;
        position: absolute;
        left: 0;
        top: 0;
        width: 50%;
        height: 50%;
        z-index: -1;
        opacity: 0.80;
        background-image: url('oakland.jpg');
        background-repeat: no-repeat;
        background-position: 50% 0;
        background-size: cover;
    }

}


